In [17]:
import sys
sys.path.append('../sources/')
import pandas as pd
import sumolib
import time

from mapmatching import MapMatcher
import network

In [18]:
net1 = sumolib.net.readNet("../../sumo_iland_map/iland.net" ,withInternal=False)
mynet = network.Net()
mynet.importFromSumoNet(net1)

gps = pd.read_csv("../../GTFS/KoDa/gps_inside_island.csv",dtype={"trip_id":object,
                                                              "shape_id":object,
                                                              "route_id":object,
                                                             "vehicle_id":object,
                                                             "timestamp":int,
                                                             "direction_id":int,
                                                             "lat":float,
                                                             "lon":float,
                                                             "speed":float,
                                                             "bearing":int,
                                                             "inside":bool,
                                                             "trip_id _extended":object})

unique_trip = list(gps["trip_id_extended"].unique())

In [19]:
sample_gps = gps[gps["trip_id_extended"]=='14010000592225603_0'].sort_values("timestamp").drop_duplicates()
#sample_gps = gps[gps["trip_id"]=='14010000599310222'].sort_values("timestamp").drop_duplicates()
#sample_gps = gps[gps["vehicle_id"]=='9031001001007136'].sort_values("timestamp").drop_duplicates()

sample_gps

,vehicle_id,timestamp,trip_id,route_id,direction_id,lat,lon,speed,bearing,shape_id,inside,trip_id_extended
570664,9031001001004817,1685994384,14010000592225603,9011001005400000,1,59.318413,18.026497,6.4,113,1014010000584633936,True,14010000592225603_0
570666,9031001001004817,1685994386,14010000592225603,9011001005400000,1,59.318371,18.026693,5.6,114,1014010000584633936,True,14010000592225603_0
570668,9031001001004817,1685994388,14010000592225603,9011001005400000,1,59.318333,18.026855,4.2,114,1014010000584633936,True,14010000592225603_0
570671,9031001001004817,1685994390,14010000592225603,9011001005400000,1,59.318306,18.026972,2.8,113,1014010000584633936,True,14010000592225603_0
570674,9031001001004817,1685994392,14010000592225603,9011001005400000,1,59.318295,18.027023,0.6,113,1014010000584633936,True,14010000592225603_0
...,...,...,...,...,...,...,...,...,...,...,...,...
571007,9031001001004817,1685994727,14010000592225603,9011001005400000,1,59.319004,18.032043,7.2,351,1014010000584633936,True,14010000592225603_0
571009,9031001001004817,1685994729,14010000592225603,9011001005400000,1,59.319134,18.031990,7.8,347,1014010000584633936,True,14010000592225603_0
571011,9031001001004817,1685994731,14010000592225603,9011001005400000,1,59.319271,18.031921,8.3,345,1014010000584633936,True,14010000592225603_0
571013,9031001001004817,1685994733,14010000592225603,9011001005400000,1,59.319416,18.031845,8.3,345,1014010000584633936,True,14010000592225603_0
571015,9031001001004817,1685994735,14010000592225603,9011001005400000,1,59.319565,18.031763,8.6,344,1014010000584633936,True,14010000592225603_0

In [20]:
interpolatedtraj = pd.read_csv("interpolatedtrajectory.csv")
interpolatedtraj

,Unnamed: 0,x,y,timestamp,speed,bearing,type,stopindex
0,0,2845.834571,2053.090447,1685948816,0.000000,124.000000,origin,1.0
1,1,2845.834571,2053.090447,1685948817,0.000000,124.000000,extra,1.0
2,2,2845.834571,2053.090447,1685948818,0.000000,124.000000,origin,1.0
3,3,2845.834571,2053.090447,1685948818,0.000000,124.000000,origin,1.0
4,4,2845.834571,2053.090447,1685948819,0.000000,124.000000,extra,1.0
...,...,...,...,...,...,...,...,...
952,1124,4401.087670,1344.520900,1685949590,12.217893,95.000000,origin,0.0
953,1125,4413.183909,1342.801044,1685949591,11.441709,107.191906,extra,0.0
954,1127,4424.397795,1340.529154,1685949592,11.861448,98.000000,origin,0.0
955,1128,4435.919446,1337.710377,1685949593,11.340135,119.659714,extra,0.0
956,1129,4446.493503,1333.613061,1685949594,11.700000,105.000000,origin,0.0

In [21]:
matcher = MapMatcher(mynet)
matcher.match(interpolatedtraj)

decision index start = 0
['585698150']
decision index = 320
['585698150', '803487169']
decision index = 353
['585698150', '803487169', '585698150']
decision index = 697
['585698150', '803487169', '585698150', '430408056']
decision index = 705
['585698150', '803487169', '585698150', '430408056', '388606453#0']
decision index = 746
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933']
decision index = 793
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693']
decision index = 801
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0']
decision index = 845
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0', '388606452#0']
decision index = 847
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0', '388606452#0', '388606452#1']
decision index = 848
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0', '388606452#0', '388606452#1', '39236695']
decision index = 851
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0', '388606452#0', '388606452#1', '39236695', '117481550']
decision index = 939
['585698150', '803487169', '585698150', '430408056', '388606453#0', '197181933', '39236693', '388606450#0', '388606452#0', '388606452#1', '39236695', '117481550', '43157176']

1

In [22]:
matcher.matchdf

,index,timestamp,x,y,bearing,rd,dist,from_edge,predict_distance,speed,...,cost_air,decitsion,matchbearing,edgeid,offset,distbearing,edge_length,type,edge_reverse,from_edge_reverse
0,0,1685948816,2846.113628,2054.143540,124.000000,0.000000,1.089439,None,0.000000,0.000000,...,0.000000,CHANGE,104.841612,585698150,166.564166,19.158388,277.103260,origin,False,False
1,1,1685948817,2846.113628,2054.143540,124.000000,0.000000,1.089439,None,0.000000,0.000000,...,0.000000,STAY,104.841612,585698150,166.564166,19.158388,277.103260,extra,False,False
2,2,1685948818,2846.113628,2054.143540,124.000000,0.000000,1.089439,None,0.000000,0.000000,...,0.000000,STAY,104.841612,585698150,166.564166,19.158388,277.103260,origin,False,False
3,3,1685948818,2846.113628,2054.143540,124.000000,0.000000,1.089439,None,0.000000,0.000000,...,0.000000,STAY,104.841612,585698150,166.564166,19.158388,277.103260,origin,False,False
4,4,1685948819,2846.113628,2054.143540,124.000000,0.000000,1.089439,None,0.000000,0.000000,...,0.000000,STAY,104.841612,585698150,166.564166,19.158388,277.103260,extra,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952,952,1685949590,4401.226638,1345.597786,95.000000,0.183791,1.085816,117481550,12.217893,12.217893,...,0.002342,STAY,97.353186,43157176,177.822896,2.353186,247.034374,origin,False,False
953,953,1685949591,4413.343045,1344.034206,107.191906,0.775168,1.243387,117481550,11.441709,11.441709,...,0.001016,STAY,97.353186,43157176,190.039773,9.838720,247.034374,extra,False,False
954,954,1685949592,4424.729324,1342.115972,98.000000,0.306016,1.621081,117481550,11.861448,11.861448,...,0.105021,STAY,101.800878,43157176,201.595205,3.800878,247.034374,origin,False,False
955,955,1685949593,4436.333115,1339.694693,119.659714,0.513580,2.026975,117481550,11.340135,11.340135,...,0.007733,STAY,101.775742,43157176,213.448920,17.883973,247.034374,extra,False,False
956,956,1685949594,4447.386646,1336.082588,105.000000,0.051206,2.626074,117481550,11.700000,11.700000,...,0.288616,STAY,109.883320,43157176,225.097715,4.883320,247.034374,origin,False,False

In [23]:
matcher.save_routematch()

,from_edge,edgeid,edge_reverse,from_edge_reverse,departure,arrival,stop_time,travel_time,shape
0,NaN,585698150,False,False,1685948816,1685949045,287,229,LINESTRING (18.074143430812892 59.319952040707...
1,585698150,803487169,False,False,1685949046,1685949078,0,32,LINESTRING (18.076843061734927 59.319335586924...
2,803487169,585698150,False,False,1685949079,1685949349,235,270,LINESTRING (18.074143430812892 59.319952040707...
3,585698150,430408056,False,False,1685949350,1685949357,0,7,LINESTRING (18.076843061734927 59.319335586924...
4,430408056,388606453#0,False,False,1685949358,1685949398,0,40,LINESTRING (18.07770188566882 59.3190954422183...
5,388606453#0,197181933,False,False,1685949399,1685949445,0,46,LINESTRING (18.083641692320484 59.317897177167...
6,197181933,39236693,False,False,1685949446,1685949453,0,7,LINESTRING (18.09341777370041 59.3167183774244...
7,39236693,388606450#0,False,False,1685949454,1685949491,18,37,LINESTRING (18.094530296434648 59.316366343179...
8,388606450#0,388606452#0,False,False,1685949492,1685949493,0,1,LINESTRING (18.09498407768392 59.3155045809156...
9,388606452#0,388606452#1,False,False,1685949494,1685949494,0,0,LINESTRING (18.095068077683496 59.315403927568...
10,388606452#1,39236695,False,False,1685949495,1685949497,0,2,LINESTRING (18.095140297034757 59.315336258610...
11,39236695,117481550,False,False,1685949498,1685949576,29,78,LINESTRING (18.095333104557426 59.315196428392...
12,117481550,43157176,False,False,1685949577,1685949594,0,17,LINESTRING (18.099763111913457 59.313988019038...