In [3]:
import sys
sys.path.append('../sources/')
import pandas as pd
import numpy as np
import sumolib
from cleandata import cleaningData
import network
import zipfile

In [4]:
net1 = sumolib.net.readNet("../data/iland.net" ,withInternal=False)
mynet = network.Net()
mynet.importFromSumoNet(net1)
zf = zipfile.ZipFile('../data/gps_inside_island.zip') 
gps = pd.read_csv(zf.open("gps_inside_island.csv"),dtype={"trip_id":object,
                                                              "shape_id":object,
                                                              "route_id":object,
                                                             "vehicle_id":object,
                                                             "timestamp":int,
                                                             "direction_id":int,
                                                             "lat":float,
                                                             "lon":float,
                                                             "speed":float,
                                                             "bearing":int,
                                                             "inside":bool,
                                                             "trip_id _extended":object})

unique_trip = list(gps["trip_id_extended"].unique())

In [5]:
sample_gps = gps[gps["trip_id_extended"]==unique_trip[3300]].sort_values("timestamp").drop_duplicates()
#sample_gps = sample_gps.reset_index(drop=True)[["lon","lat","timestamp","bearing","speed"]]

sample_gps

,vehicle_id,timestamp,trip_id,route_id,direction_id,lat,lon,speed,bearing,shape_id,inside,trip_id_extended
2280772,9031001001002650,1685948816,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
2280775,9031001001002650,1685948818,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
2280776,9031001001002650,1685948820,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
2280778,9031001001002650,1685948822,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
2280780,9031001001002650,1685948825,14010000630847520,9011001041300000,1,59.319756,18.075062,0.0,124,1014010000630609140,True,14010000630847520_0
...,...,...,...,...,...,...,...,...,...,...,...,...
2281541,9031001001002650,1685949588,14010000630847520,9011001041300000,1,59.313957,18.102425,13.3,93,1014010000630609140,True,14010000630847520_0
2281543,9031001001002650,1685949590,14010000630847520,9011001041300000,1,59.313938,18.102879,12.5,95,1014010000630609140,True,14010000630847520_0
2281545,9031001001002650,1685949592,14010000630847520,9011001041300000,1,59.313911,18.103291,11.9,98,1014010000630609140,True,14010000630847520_0
2281547,9031001001002650,1685949594,14010000630847520,9011001041300000,1,59.313858,18.103683,11.4,105,1014010000630609140,True,14010000630847520_0
2281549,9031001001002650,1685949596,14010000630847520,9011001041300000,1,59.313786,18.104057,11.7,113,1014010000630609140,True,14010000630847520_0

In [6]:
df = cleaningData(sample_gps,mynet)
df

     id             x             y   timestamp  speed  bearing  stopindex
0     0  11880.854571  13978.530447  1685948816    0.0      124          1
1     0  11880.854571  13978.530447  1685948818    0.0      124          1
2     0  11880.854571  13978.530447  1685948820    0.0      124          1
3     0  11880.854571  13978.530447  1685948822    0.0      124          1
4     0  11880.854571  13978.530447  1685948825    0.0      124          1
..   ..           ...           ...         ...    ...      ...        ...
349   0  13410.373280  13273.207648  1685949588   13.3       93          0
350   0  13436.107670  13269.960900  1685949590   12.5       95          0
351   0  13459.417795  13265.969154  1685949592   11.9       98          0
352   0  13481.513503  13259.053061  1685949594   11.4      105          0
353   0  13502.431779  13250.061660  1685949596   11.7      113          0

[354 rows x 7 columns]

In [7]:
df.to_csv("cleanedtrajectory.csv", index=False)