In [1]:
import sys
sys.path.append('../sources/')
from geotools import distance2d,calculate_bearing_angle
from interpolation import interpolateTrajectory
import pandas as pd

import ast

In [2]:
df = pd.read_csv("cleanedtrajectory.csv")#, converters={"point": ast.literal_eval})

In [3]:
df

     id            x            y   timestamp  speed  bearing  stopindex
0     0  2845.834571  2053.090447  1685948816    0.0      124          1
1     0  2845.834571  2053.090447  1685948818    0.0      124          1
2     0  2845.834571  2053.090447  1685948820    0.0      124          1
3     0  2845.834571  2053.090447  1685948822    0.0      124          1
4     0  2845.834571  2053.090447  1685948825    0.0      124          1
..   ..          ...          ...         ...    ...      ...        ...
349   0  4375.353280  1347.767648  1685949588   13.3       93          0
350   0  4401.087670  1344.520900  1685949590   12.5       95          0
351   0  4424.397795  1340.529154  1685949592   11.9       98          0
352   0  4446.493503  1333.613061  1685949594   11.4      105          0
353   0  4467.411779  1324.621660  1685949596   11.7      113          0

[354 rows x 7 columns]

In [4]:
out = interpolateTrajectory(df, sample_rate=1)
out

,x,y,timestamp,speed,bearing,type,stopindex
0,2845.834571,2053.090447,1685948816,0.000000,124.000000,origin,1.0
1,2845.834571,2053.090447,1685948817,0.000000,124.000000,extra,1.0
2,2845.834571,2053.090447,1685948818,0.000000,124.000000,origin,1.0
3,2845.834571,2053.090447,1685948818,0.000000,124.000000,origin,1.0
4,2845.834571,2053.090447,1685948819,0.000000,124.000000,extra,1.0
...,...,...,...,...,...,...,...
1124,4401.087670,1344.520900,1685949590,12.217893,95.000000,origin,0.0
1125,4413.183909,1342.801044,1685949591,11.441709,107.191906,extra,0.0
1127,4424.397795,1340.529154,1685949592,11.861448,98.000000,origin,0.0
1128,4435.919446,1337.710377,1685949593,11.340135,119.659714,extra,0.0
1129,4446.493503,1333.613061,1685949594,11.700000,105.000000,origin,0.0

In [5]:
out.to_csv("interpolatedtrajectory.csv")

In [6]:
#from geotools import dfPoint2LonLat

In [ ]:
#dfPoint2LonLat(out, mynet )