In [1]:
from cleandata import cleaningData
from geotools import distance2d,calculate_bearing_angle
import network

In [2]:
import pandas as pd
import sumolib
from sumolib import geomhelper
import math
from shapely.geometry import LineString
import time
import numpy as np

In [3]:
def Bezier_3(p0,p1,p2,p3,t):
    b0 = (1-t)**3
    b1 = 3*((1-t)**2)*t
    b2 = 3*(1-t)*(t**2)
    b3 = t**3   
    p = b0*p0 + b1*p1 + b2*p2 + b3*p3
    return p


def Bezier_2(p0,p1,p2,t):
    b0 = (1-t)**2
    b1 = 2*(1-t)*t
    b2 = (t**2)    
    p=b0*p0 + b1*p1 + b2*p2
    return p


def derivative_Bezier_3(p0,p1,p2,p3,t):
    q0 = 3*(p1-p0)
    q1 = 3*(p2-p1)
    q2 = 3*(p3-p2)  
    derivative = Bezier_2(q0,q1,q2,t)
    
    return derivative
   
    
def derivative2Bearing(p):
    if p[0]!= 0:
        slope = p[1]/p[0]
    else:
        slope = np.inf
    
    angle = np.arctan(slope) * 180/ np.pi
    bearing = 90 - angle
    
    if p[0] < 0 or (p[0]==0 and p[1]<0):
        bearing += 180 
    return bearing

In [4]:
def df2geodf(df, net):
    df["lon"] = df.apply(lambda row: net.convertXY2LonLat(row["x"],row["y"])[0], axis=1)
    df["lat"] = df.apply(lambda row: net.convertXY2LonLat(row["x"],row["y"])[1], axis=1)
    return df.drop(columns=["x", "y"])

In [50]:
def bezierInterpolation(a,b, sample_rate=1):
    items = []
    delta_time = b["timestamp"] - a["timestamp"]
    point_a = np.array(a['point']) 
    point_b = np.array(b['point']) 
    
    if a["stopindex"]>0 and b["stopindex"]>0:

        for time in range(a["timestamp"],b["timestamp"]+1,sample_rate):
            if time==a["timestamp"] or time==b["timestamp"]:
                types = "origin"
            else:
                types = "extra"
            items.append({"point":tuple(point_a), "timestamp":int(time),
                    "speed":0, "bearing":a["bearing"], "type":types})
        return pd.DataFrame(item)
    
    dist = distance2d(point_a, point_b)
    #dist = (a["speed"] + b["speed"] + 2)*delta_time/2
    
    #dist = max(distance2d(point_a, point_b), (a["speed"] + b["speed"] + 2)*delta_time/2)

    v_a_x = (a["speed"]+1)*np.sin(a["bearing"]* np.pi / 180.)
    v_a_y = (a["speed"]+1)*np.cos(a["bearing"]* np.pi / 180.)
    v_b_x = (b["speed"]+1)*np.sin(b["bearing"]* np.pi / 180.)
    v_b_y = (b["speed"]+1)*np.cos(b["bearing"]* np.pi / 180.)

    v_a = np.array((v_a_x, v_a_y))
    v_b = np.array((v_b_x, v_b_y))

    control = 10+max(a["speed"], b["speed"])**(1.2)
    alpha = ((.5*(np.sqrt(a["speed"]+1))/(np.sqrt(a["speed"]+1) + control))) * dist*3
    beta =  ((.5*(np.sqrt(b["speed"]+1))/(np.sqrt(b["speed"]+1) + control))) * dist*3

   # control = 50
    #alpha = (.5*(a["speed"]+1)/((a["speed"]+1) + control)) * dist*3
    #beta =  (.5*(b["speed"]+1)/((b["speed"]+1) + control)) * dist*3
    #alpha = .1 + delta_time * (a["speed"]+1)/5
    #beta = .1 + delta_time * (b["speed"]+1)/5


    p0 = point_a + (alpha * (v_a)) /3.0
    p1 = point_b - (beta * (v_b)) /3.0

    time = 0
    zero_point = np.array((0,0))

    while time + a["timestamp"] <= b["timestamp"]:
        
        t = time/delta_time
        p_t = Bezier_3(point_a,p0,p1,point_b,t)
        

        if t==0:
            types = "origin"
            p_t_1 = Bezier_3(point_a,p0,p1,point_b,t+(sample_rate/delta_time))
            speed_t = distance2d(p_t, p_t_1)/sample_rate

        elif t==1:
            types = "origin"
            speed_t = None
        else:
            types = "extra"
            p_t_1 = Bezier_3(point_a,p0,p1,point_b,t+(sample_rate/delta_time))
            speed_t = distance2d(p_t, p_t_1)/sample_rate
            
        v_t = derivative_Bezier_3(point_a,p0,p1,point_b,t)
        if ((1-t)*alpha+t*beta) == 0:
            print(f"alpha = {alpha}, beta = {beta}, t = {t}, dist={dist}")
            
        #speed_t = max(distance2d(zero_point, v_t)/((1-t)*alpha+t*beta) - 1, 0)
    
        bearing_t = calculate_bearing_angle(zero_point, v_t)
        items.append({"point":tuple(p_t), "timestamp":int(time + a["timestamp"]),
                    "speed":speed_t, "bearing":bearing_t, "type":types})

        
        time = time + sample_rate
        if time > delta_time and (time -sample_rate)!= delta_time:
            time = delta_time
            
    df = pd.DataFrame(items)
    return df

In [ ]:
def interpolateTrajectory(traj, sample_rate=1):
    interpol_list = []
    time = traj.iloc[0]["timestamp"]
    a = dict(df.iloc[0])
    for index,row in traj.iterrows():
            b=dict(row.copy())
            mydict = bezier_interpolation(a,b, sample_rate=sample_rate)            
            interpol_list.append(mydict)
            a = b.copy()
            if a["stopindex"]>0:
                    a["point"] = mydict.iloc[-1]["point"]
            time = row["timestamp"]

    last_speed = traj["speed"].iloc[-1]
    lastindex = interpol_list[-1].index[-1]
    interpol_list[-1].at[lastindex,"speed"] = last_speed
    df = pd.concat(interpol_list).reset_index(drop=True)
    df = df.dropna()

In [43]:
net1 = sumolib.net.readNet("../../sumo_iland_map/iland.net" ,withInternal=False)
mynet = network.Net()
mynet.importFromSumoNet(net1)

gps = pd.read_csv("../../GTFS/KoDa/gps_inside_island.csv",dtype={"trip_id":object,
                                                              "shape_id":object,
                                                              "route_id":object,
                                                             "vehicle_id":object,
                                                             "timestamp":int,
                                                             "direction_id":int,
                                                             "lat":float,
                                                             "lon":float,
                                                             "speed":float,
                                                             "bearing":int,
                                                             "inside":bool,
                                                             "trip_id _extended":object})

unique_trip = list(gps["trip_id_extended"].unique())

In [44]:
sample_gps = gps[gps["trip_id_extended"]==unique_trip[3300]].sort_values("timestamp").drop_duplicates()
sample_gps = sample_gps.reset_index(drop=True)[["lon","lat","timestamp","bearing","speed"]]

sample_gps

           lon        lat   timestamp  bearing  speed
0    18.075062  59.319756  1685948816      124    0.0
1    18.075062  59.319756  1685948818      124    0.0
2    18.075062  59.319756  1685948820      124    0.0
3    18.075062  59.319756  1685948822      124    0.0
4    18.075062  59.319756  1685948825      124    0.0
..         ...        ...         ...      ...    ...
349  18.102425  59.313957  1685949588       93   13.3
350  18.102879  59.313938  1685949590       95   12.5
351  18.103291  59.313911  1685949592       98   11.9
352  18.103683  59.313858  1685949594      105   11.4
353  18.104057  59.313786  1685949596      113   11.7

[354 rows x 5 columns]

In [45]:
df = cleaningData(sample_gps, net1)
df

,id,timestamp,speed,bearing,stopindex,point
0,0,1685948816,0.0,124.0,1,"(2845.8345707240514, 2053.090447381139)"
1,0,1685948818,0.0,124.0,1,"(2845.8345707240514, 2053.090447381139)"
2,0,1685948820,0.0,124.0,1,"(2845.8345707240514, 2053.090447381139)"
3,0,1685948822,0.0,124.0,1,"(2845.8345707240514, 2053.090447381139)"
4,0,1685948825,0.0,124.0,1,"(2845.8345707240514, 2053.090447381139)"
...,...,...,...,...,...,...
349,0,1685949588,13.3,93.0,0,"(4375.353280237527, 1347.7676477348432)"
350,0,1685949590,12.5,95.0,0,"(4401.087669764529, 1344.5208999291062)"
351,0,1685949592,11.9,98.0,0,"(4424.39779460826, 1340.52915404737)"
352,0,1685949594,11.4,105.0,0,"(4446.493502924917, 1333.6130614690483)"
353,0,1685949596,11.7,113.0,0,"(4467.411778910377, 1324.621660400182)"

In [46]:
interpol_list = []
time = df.iloc[0]["timestamp"]
a = dict(df.iloc[0])
for index,row in df.iterrows():
    if row["timestamp"] > time + 30:
        b=dict(row.copy())
        mydict = bezier_interpolation(a,b)            
        interpol_list.append(mydict)
        a = b.copy()
        if a["stopindex"]>0:
                a["point"] = mydict.iloc[-1]["point"]
        time = row["timestamp"]

last_speed = df["speed"].iloc[-1]
lastindex = interpol_list[-1].index[-1]
interpol_list[-1].at[lastindex,"speed"] = last_speed
df = pd.concat(interpol_list).reset_index(drop=True)
df = df.dropna()

In [47]:
df

,point,timestamp,speed,bearing,type
0,"(2845.8345707240514, 2053.090447381139)",1685948816,0.000000,124.000000,origin
1,"(2845.8345707240514, 2053.090447381139)",1685948817,0.000000,124.000000,extra
2,"(2845.8345707240514, 2053.090447381139)",1685948818,0.000000,124.000000,extra
3,"(2845.8345707240514, 2053.090447381139)",1685948819,0.000000,124.000000,extra
4,"(2845.8345707240514, 2053.090447381139)",1685948820,0.000000,124.000000,extra
...,...,...,...,...,...
783,"(4215.455380739313, 1356.6726014578057)",1685949576,11.648893,97.792001,extra
784,"(4227.019921369071, 1355.2732791508015)",1685949577,12.191186,96.027161,extra
785,"(4239.161771682573, 1354.1776155065004)",1685949578,12.755092,94.305911,extra
786,"(4251.893643940661, 1353.4083242677807)",1685949579,13.341226,92.629810,extra
787,"(4265.22825040418, 1352.9881191775203)",1685949580,11.700000,91.000000,origin

In [39]:
p = np.array((2,3))
a = tuple(p)
a

(2, 3)

In [36]:
a + a

(2, 3, 2, 3)

In [40]:
p

array([2, 3])

In [41]:
p+p

array([4, 6])